# venv
.venv/
# Jupyter Notebook
*.ipynb_checkpoints
# pycache
__pycache__/
# local env
.env
.env_legacy
# legacy
chatfrontend_legacy.py
chatbackend_legacy.py
settings_legacy.py
# data
data/
# python version
.python-version
# app.py
app_test.py
# secrets
secrets*
# unnecessary scripts
tests*